In [62]:
import pandas as pd
import numpy as np 

#Iris dataset contains information of flower
df = pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [63]:
df.size

900

In [64]:
df.shape

(150, 6)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [55]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [56]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [57]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [58]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [59]:
# in this dataset categorial values are already given 

# these are the 'Species' in the data
np.array(sorted(df.Species.unique()))

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='<U15')

In [60]:
df.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [65]:
#describing by group of species using function
def basic_statistics(df):
    print("\nIris-setosa")
    print(df[df.Species=='Iris-setosa'].describe().transpose())
    print("\nIris-versicolor")
    print(df[df.Species=='Iris-versicolor'].describe().transpose())
    print("\nIris-virginica")
    print(df[df.Species=='Iris-virginica'].describe().transpose())
    
#calling function
basic_statistics(df)

Iris-setosa
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Iris-versicolor
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Iris-virginica
               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

In [30]:
print("SepalLengthCm - mean()")
df.groupby(['Species'])['SepalLengthCm'].mean()

SepalLengthCm - mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [31]:
print("SepalLengthCm - max()")
df.groupby(['Species'])['SepalLengthCm'].max()

SepalLengthCm - max()

Species
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: SepalLengthCm, dtype: float64

In [32]:
print("SepalLengthCm - median()")
df.groupby(['Species'])['SepalLengthCm'].median()

SepalLengthCm - median()

Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [33]:
print("SepalLengthCm - std()")
df.groupby(['Species'])['SepalLengthCm'].std()

SepalLengthCm - std()

Species
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: SepalLengthCm, dtype: float64

In [34]:
print("SepalLengthCm - min()")
df.groupby(['Species'])['SepalLengthCm'].min()

SepalLengthCm - min()

Species
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: SepalLengthCm, dtype: float64

In [35]:
print("SepalWidthCm - mean()")
df.groupby(['Species'])['SepalWidthCm'].mean()

SepalWidthCm - mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [36]:
print("SepalWidthCm - max()")
df.groupby(['Species'])['SepalWidthCm'].max()

SepalWidthCm - max()

Species
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: SepalWidthCm, dtype: float64

In [37]:
print("SepalWidthCm - median()")
df.groupby(['Species'])['SepalWidthCm'].median()

SepalWidthCm - median()

Species
Iris-setosa        3.4
Iris-versicolor    2.8
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [38]:
print("SepalWidthCm - std()")
df.groupby(['Species'])['SepalWidthCm'].std()

SepalWidthCm - std()

Species
Iris-setosa        0.381024
Iris-versicolor    0.313798
Iris-virginica     0.322497
Name: SepalWidthCm, dtype: float64

In [39]:
print("SepalWidthCm - min()")
df.groupby(['Species'])['SepalWidthCm'].min()

SepalWidthCm - min()

Species
Iris-setosa        2.3
Iris-versicolor    2.0
Iris-virginica     2.2
Name: SepalWidthCm, dtype: float64

In [40]:
print("PetalLengthCm - mean()")
df.groupby(['Species'])['PetalLengthCm'].mean()

PetalLengthCm - mean()

Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64

In [41]:
print("PetalLengthCm - max()")
df.groupby(['Species'])['PetalLengthCm'].max()

PetalLengthCm - max()

Species
Iris-setosa        1.9
Iris-versicolor    5.1
Iris-virginica     6.9
Name: PetalLengthCm, dtype: float64

In [43]:
print("PetalLengthCm - median()")
df.groupby(['Species'])['PetalLengthCm'].median()

PetalLengthCm - median()

Species
Iris-setosa        1.50
Iris-versicolor    4.35
Iris-virginica     5.55
Name: PetalLengthCm, dtype: float64

In [44]:
print("PetalLengthCm - std()")
df.groupby(['Species'])['PetalLengthCm'].std()

PetalLengthCm - std()

Species
Iris-setosa        0.173511
Iris-versicolor    0.469911
Iris-virginica     0.551895
Name: PetalLengthCm, dtype: float64

In [45]:
print("PetalLengthCm - min()")
df.groupby(['Species'])['PetalLengthCm'].min()

PetalLengthCm - min()

Species
Iris-setosa        1.0
Iris-versicolor    3.0
Iris-virginica     4.5
Name: PetalLengthCm, dtype: float64

In [46]:
print("PetalWidthCm - mean()")
df.groupby(['Species'])['PetalWidthCm'].mean()

PetalWidthCm - mean()

Species
Iris-setosa        0.244
Iris-versicolor    1.326
Iris-virginica     2.026
Name: PetalWidthCm, dtype: float64

In [47]:
print("PetalWidthCm - max()")
df.groupby(['Species'])['PetalWidthCm'].max()

PetalWidthCm - max()

Species
Iris-setosa        0.6
Iris-versicolor    1.8
Iris-virginica     2.5
Name: PetalWidthCm, dtype: float64

In [48]:
print("PetalWidthCm - median()")
df.groupby(['Species'])['PetalWidthCm'].median()

PetalWidthCm - median()

Species
Iris-setosa        0.2
Iris-versicolor    1.3
Iris-virginica     2.0
Name: PetalWidthCm, dtype: float64

In [49]:
print("PetalWidthCm - std()")
df.groupby(['Species'])['PetalWidthCm'].std()

PetalWidthCm - std()

Species
Iris-setosa        0.107210
Iris-versicolor    0.197753
Iris-virginica     0.274650
Name: PetalWidthCm, dtype: float64

In [50]:
print("PetalWidthCm - min()")
df.groupby(['Species'])['PetalWidthCm'].min()

PetalWidthCm - min()

Species
Iris-setosa        0.1
Iris-versicolor    1.0
Iris-virginica     1.4
Name: PetalWidthCm, dtype: float64